@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?weetys');
  src:  url('fonts/icomoon.eot?weetys#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?weetys') format('truetype'),
    url('fonts/icomoon.woff?weetys') format('woff'),
    url('fonts/icomoon.svg?weetys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-h:before {
  content: "\e901";
}
.icon-logo-h-outline:before {
  content: "\e902";
}
.icon-logotipo:before {
  content: "\e903";
}
.icon-logo-v:before {
  content: "\e904";
}
.icon-logo-v-outline:before {
  content: "\e905";
}
.icon-simbolo:before {
  content: "\e906";
}
.icon-simbolo-outline:before {
  content: "\e907";
}
.icon-tooth:before {
  content: "\e900";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-music:before {
  content: "\f001";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-birthday-cake:before {
  content: "\f1fd";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-bomb:before {
  content: "\f1e2";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-bug:before {
  content: "\f188";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-camera:before {
  content: "\f030";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-tint:before {
  content: "\f043";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-check:before {
  content: "\f00c";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plane:before {
  content: "\f072";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-circle:before {
  content: "\f111";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comment:before {
  content: "\f075";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-comments:before {
  content: "\f086";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-compress:before {
  content: "\f066";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors:before {
  content: "\f0c4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-envira:before {
  content: "\f299";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-expand:before {
  content: "\f065";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-eyedropper:before {
  content: "\f1fb";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-futbol-o:before {
  content: "\f1e3";
}
.icon-soccer-ball-o:before {
  content: "\f1e3";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-hashtag:before {
  content: "\f292";
}
.icon-heart:before {
  content: "\f004";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-home:before {
  content: "\f015";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-info:before {
  content: "\f129";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-lock:before {
  content: "\f023";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-map:before {
  content: "\f279";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map-pin:before {
  content: "\f276";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-minus:before {
  content: "\f068";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-pause-circle:before {
  content: "\f28b";
}
.icon-pause-circle-o:before {
  content: "\f28c";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-percent:before {
  content: "\f295";
}
.icon-phone:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-pied-piper:before {
  content: "\f2ae";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-plus:before {
  content: "\f067";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-podcast:before {
  content: "\f2ce";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-print:before {
  content: "\f02f";
}
.icon-space-shuttle:before {
  content: "\f197";
}
.icon-slack:before {
  content: "\f198";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-question:before {
  content: "\f128";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-search:before {
  content: "\f002";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-shield:before {
  content: "\f132";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-spoon:before {
  content: "\f1b1";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-stop-circle:before {
  content: "\f28d";
}
.icon-stop-circle-o:before {
  content: "\f28e";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-thermometer:before {
  content: "\f2c7";
}
.icon-thermometer-4:before {
  content: "\f2c7";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-times-rectangle:before {
  content: "\f2d3";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-window-maximize:before {
  content: "\f2d0";
}
.icon-window-minimize:before {
  content: "\f2d1";
}
.icon-window-restore:before {
  content: "\f2d2";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-bandcamp:before {
  content: "\f2d5";
}
.icon-youtube-square:before {
  content: "\f166";
}
