<header class="grid-container full">
	<div class="grid-x">
		<div class="cell small-10 medium-4 large-4">
			<span class="icon-logo-h logo color" onclick="window.location.href='/'"></span>
		</div>
		<div class="cell small-2 medium-8 large-8">
			<nav>
				<div class="nav-icon"><span class="icon-navicon"></span></div>
				<ul>
					<li><a href="/catalogo"><span>Busca avançada</span></a></li>
					<li><a href="/como-funciona"><span>Como funciona</span></a></li>
					<li><a href="/dentista-anuncie-seu-consultorio"><span>Doutor, faça parte!</span></a></li>
					<li><a href="/auth"><span>Entrar</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>