body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

/***********
	Colors
	********/

.background-color{ background-color: #1ec0c2; color: #FFF;}

.background-color.red{ background-color: #f13554; }

.background-color.gray{ background-color: #EDEDED; color: #484848 !important; }

.background-color.green{ background-color: #2dcaa0; }

.background-color.orange{ background-color: #efa500; }

.background-color.darkred{ background-color: #AF202C; }

.background-color.purple{ background-color: #5063F0; }

.color { color: #1ec0c2 !important; }
.color.red{	color: #f13554 !important; }
.color.green{	color: #2dcaa0 !important; }
.color.gray{	color: #999 !important; }
.color.purple{	color: #5063F0 !important; }
.color.orange{	color: #efa500 !important; }
.color.white{	color: #FFF !important; }
.color.overlay{ color: rgba(0,0,0,.5) !important; }

/* Button */

.button{ background-color: #1ec0c2; }
.button:hover{ background-color: #189798; }

.button.hollow{ border-color: #1ec0c2; color: #1ec0c2; }
.button.hollow:hover{ border-color: #189798; color: #189798; }

.button.hollow.purple{ border-color: #5063F0; color: #5063F0; }
.button.hollow.purple:hover{ border-color: #3f51c1; color: #3f51c1; }

.button.red{ background-color: #f13554; }
.button.red:hover{ background-color: #d32e47; }

.button.orange{ background-color: #efa500; }
.button.orange:hover{ background-color: #c98900; }

.button.white{ background-color: #FFF; color: #484848; }
.button.white:hover{ background-color: #FFF; color: #484848; }

.button.overlay{ background-color: rgba(0,0,0,.5); color: rgba(255,255,255,.5); }
.button.overlay:hover{ background-color: rgba(0,0,0,.5); color: #FFF; }

.button.green{ background-color: #2dcaa0; }
.button.green:hover{ background-color: #26a883; }

/* Hr */

hr.color{ border-color: #1ec0c2; }
hr.red{ border-color: #f13554; }

/* Links */

a{ color: #1ec0c2; }
a:hover{ color: #189798; }

/***********
	Defaults
	********/

ul, li{
	list-style: none;
	margin:0;
	padding: 0;
}

ul.table{ display: table; height: 100%; width: 100% }
ul.table > li{ display: table-cell; vertical-align: middle; }

hr{ max-width: inherit; margin:10px 0; border-bottom: 1px solid rgba(255,255,255,.4); }
hr.hollow { border-top: 1px solid rgba(0,0,0,.4); }

h1, h2, h3{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 10px 0;
    font-size: 5em;
	color: rgb(72, 72, 72);
}

h1{
    text-transform: uppercase;
    padding: 0;
    line-height: 1em;
}

h1.section{
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	color: rgba(255,255,255,.7);
	cursor: default;
}

h1.section.hollow{
	color: rgba(0,0,0,.7);
}

h2{
	font-size: 2em;
	margin:20px 0;
	line-height: normal;
}

h3{
	font-size: 1.2em;
	font-weight: 400;
	margin:-20px 0 20px 0;
}

h4{
	font-size: 1em;
	font-weight: 400;
	margin:0 0 10px 0;
}

.background-color h2,
.background-color h3{
	color: #FFF;
}

.transition-all {
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.border-box{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.border-radius{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.upper-case{
	text-transform: uppercase;
}

.rounded-box{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: rgba(0,0,0,.2);
	color: #FFF !important;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	line-height: 30px;
}

.rounded-box:hover{
	background-color: rgba(0,0,0,.4);
}

.rounded-box.on{
	background-color: #FFF;
	color: #484848 !important;
}

.rounded-box.auto{
	width: auto;
	height: auto;
	line-height: normal;
	padding: 5px 10px;
}

.shadow-box{
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.small-text{
	font-size: 12px;
}

.small-text > span{
	font-size: 14px;
}

/***********
	Forms
	********/

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, select{
    color: #484848;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/***********************
	Foundation Overrides
	*******************/

.grid-container{
	max-width: 1280px;
}

a{
	font-weight: 500;
}

.button.margin-min{
	margin: 0 0 5px 0;
}

.button.margin-none{
	margin: 0;
}

.button.icon{
	display: table;
}

.button.icon > span{
	display: table-cell;
	vertical-align: middle;	
}

.button.icon > span:first-of-type{
	font-size: 24px;
}

.button.icon > span:last-child{
	margin-left: 5px;
}

/***********
	Icons
	********/

.icon-large{
	font-size: 55px;
}

.icon-overlay{ color: rgba(0,0,0,.5); }

/*************
	Navigation
	**********/

nav{
	display: block;
	text-align: right;
	height: 100%;
}

nav ul li a{
	color: #484848;
}


/*********
	Header
	******/

header .grid-x{
}

header .logo{
	font-size: 50px;
	display: inline-block;
	padding: 15px 20px;
	cursor: pointer;
}

/*********
	Main
	******/

main{
	position: relative;
}

main > .grid-x{
}

main .main-title{
	max-width: 300px;
	float: right;
}

.bg-main-icon{
	font-size: 300px;
	color: #F3F2F2;
}

section .content{
	max-width: 860px;
}

section .content > .grid-x{
	padding: 40px 0;
}

/**************
	Main Search
	**********/

.main-search > .grid-container{
	padding: 30px;
}

.main-search input{
	min-height: 45px
}

.main-search input,
.main-search .button{
	margin: 0;
	font-weight: 800 !important;
    font-size: 17px !important;
    height: 100%;
    color: #484848;
    border: none;
}

.main-search .button{
    color: #FFF;
}

.search-input{
	position: relative;
	font-size: 24px;
}

.search-input span{
	position: absolute;
	left: 10px;
	top: 10px;
}

.search-input input{
	padding-left: 40px;
}

.video{
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.video video{
	margin-top: -350px;
	text-align: center;
}

.video .video-headline{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #FFF;
	-webkit-box-shadow: inset 0px -82px 208px -92px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -82px 208px -92px rgba(0,0,0,0.75);
	box-shadow: inset 0px -82px 208px -92px rgba(0,0,0,0.75);
}

.video .video-headline h1{
	color: #FFF;
	text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.95);
	margin: 0;
}

.video .video-headline span{
	background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 1.4em;
}

/**************
	Grids
	**********/

.v-grid-images > .cell{
	cursor: pointer;
}

.v-grid-images > .cell > ul{
	display: table;
	width: 100%;
}

.v-grid-images > .cell > ul > li{
	display: table-row;
}

.v-grid-images > .cell > ul > li > div{
	display: table-cell;
	vertical-align: middle;
	font-weight: 700;
	color: #484848;
	padding:10px;
	text-align: center;
}

.v-grid-images > .cell > ul > li.image > div{
	height: 70px;
	background-size: cover;
	background-position: center center;
	padding: 0;
}

.v-grid-images > .cell.select > ul > li.image > div{
	font-size: 40px;
}

/**************
	Filter
	**********/

.filter{
	max-width: 300px;
}

/**************
	Catalog
	**********/

.catalog-grid > .cell{
	cursor: pointer;
}

.catalog-grid > .cell > div.image{
	display: block;
	height: 250px;
	margin-bottom: 10px;
	overflow: hidden;
}

.catalog-grid > .cell > div.image > div{
	height: 100%;
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center center;
}

.catalog-grid > .cell:hover > div.image > div{
	transform: scale(1.2);
}

.catalog-grid > .cell > div.distance{
	display: block;
	margin: 0;
	font-size: 1.1em;
}

.catalog-grid > .cell > h2,
.catalog-grid > .cell > h3{
	margin:0;
}

/**************
	Ad-Page
	**********/

.profile-image{
	display: inline-block;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	overflow: hidden;
}

.facebook{ background-color: #3C5A99 !important; }
.twitter{ background-color: #31AAE1 !important; }
.whatsapp{ background-color: #30B13B !important; }

.ad-page .logo{
	text-align: center;
}

.ad-page .logo > img{
	display: inline-block;
	max-height: 100px;
}

.media{
	margin-top: 10px;
}

.media >.cell{
	margin: 2px 0;
}

.media > .cell > .grid-x > .cell{
	padding-left: 15px;
	padding-right: 5px;
}

.media .grid-x a{
	color: #484848;
}

/**************
	Gallery
	**********/

.gallery-container{
	position: relative;
}
.gallery-container a{
	position: absolute;
	padding:0;
	width: 40px;
	height: 40px;
	left: 20px;
	top: 50%;
	z-index: 1;
	font-size: 24px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	line-height: 40px;
}

.gallery-container a.right{
	left: inherit;
	right: 20px;
}

.gallery .slide{
	padding: 0 2px;
}

.map{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.map.on{
	display: block;
}

/**************
	Cart
	**********/

.cart-progress{
	margin: 0 auto;
	text-align: center;
	cursor: default;
}

.cart-progress span{
	font-size: 40px;
	display: block;
	margin-bottom: 10px;
}

/**************
	Ad Center
	**********/

.flaps a.button{
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.flaps > .cell{
	margin: 0 1px;
}

.ad-center-logo{
	height: 400px;
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px dashed #C8CBCE;
    overflow: hidden;
}

.ad-center-alert{
	display: block;
	margin-bottom: 10px;
	margin-top: -10px;
}

.ad-center .fixed-width{
	width: 115px;
	line-height: 15px;
}

/**************
	Footer
	**********/

footer{
	background-color: #f2f2f2;
	padding: 30px 0;
	color: #808080;
	text-align: center;
}

footer .logo{
	font-size: 65px;
	display: block;
}

footer .nav{
	border-top: 1px double #CCC;
}

footer .nav > .cell > a{
	color: #484848;
}

footer .copy{
	border-top: 1px double #CCC;
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
}

