<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<a href="/dentista-anuncie-seu-consultorio" class="button" style="margin-bottom: 0;"><span class="icon-angle-left"></span> Voltar</a>
					<h2>Como impulsionar seu marketing pessoal?</h2>
					<h3>Conheça agora como clientes e amigos podem impulsionar seu marketing pessoal nas mídias com apenas alguns cliques!</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-rocket bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color purple">
	<div class="grid-container content">
		<div class="grid-x">

			<div class="cell">

				<p>	
					<strong>Instruindo sua secretária</strong> à diariamente convidar seus clientes a apoiá-lo na divulgação de sua página, entregando impresso ou enviando via whatsapp ou por e-mail o passo a passo com as instruções de compartilhamento no facebook, twitter e whatsapp.
				</p>

				<p>
					<strong>Convide também</strong> amigos e parentes a apoiá-lo nesta divulgação, dizendo a eles que farão isso com apenas dois ou três cliques, sem perda de tempo nem custos.
				</p>

				<p>
					<strong>Sempre entregando ou enviando</strong> o passo a passo explicativo de como fazer o compartilhamento, onde consta o endereço da sua página e as instruções. Este arquivo está disponível em sua área de acesso em nosso portal chamada Central do Anúncio, em formato digital e para impressão.
				</p>

				<p>COMPARTILHE VOCÊ TAMBÉM!</p>

				<p>
				A multiplicação de arquivos digitais compartilhados pelos seus próprios clientes e amigos nas redes sociais, com seu nome ou nome de sua clínica, uma foto de sua página, link de acesso à sua página, impulsionarão seu marketing pessoal, lembrando que a maioria das visualizações serão de amigos e parentes destes clientes.
				</p>

				<p>E ISSO SERÁ UM MARKETING DIGITAL FORTE!</p>

				<h2>Veja outros motivos para fazer sua página</h2>

				<p>
					Ela te possibilita de maneira simples e econômica sua presença na internet, podendo você ser encontrado também através da busca orgânica no google. Porque toda pessoa que buscar um dentista pela internet, naturalmente irá chegar até aqueles que tem presença online.
				</p>

				<p>
					Se você tem site ou facebook, ela aumentará sua presença na internet, interligando seu site e facebook com os links de direcionamento para eles.
				</p>

				<p>
					Pop-up de chamada principal, com este recurso você põe em destaque aquilo que for mais importante comunicar em primeira mão em sua página.
				</p>

				<p>
					Com este sistema de marketing digital você usará a força das mídias sociais para alavancar o seu negócio.
				</p>

		</div>
	</div>
</section>

{include="anuncie-planos"}