<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<a href="/dentista-anuncie-seu-consultorio" class="button" style="margin-bottom: 0;"><span class="icon-angle-left"></span> Voltar</a>
					<h2>O que é o Guia de Dentistas na Web e como funciona?</h2>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-question-circle bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color purple">
	<div class="grid-container content">
		<div class="grid-x">

			<div class="cell">
				<p>
					O <strong>Guia de dentistas na Web</strong> é uma plataforma criada para dentistas, responsiva (adaptada para celulares e tablets), totalmente estruturada e otimizada para os mecanismos de busca (Google, Yahoo, Bing, entre outros), com o objetivo de ligar novos pacientes aos profissionais da Odontologia. É também uma ferramenta de marketing digital para profissionais da odontologia.
				</p>

				<h2>Como ele funciona?</h2>

				<p>
					A página que disponibilizamos à você, possui botões para compartilhamentos com as redes sociais, ao clicar nestes botões será criado automaticamente arquivos digitais para Facebook, Twitter e WhatsApp, com seu nome ou nome de sua clínica, uma foto de sua página, link de acesso à sua página, e uma chamada para conhecerem sua página, esses arquivos são postados nas redes sociais com apenas alguns cliques.
				</p>

				<p>
				Os internautas que veem estes arquivos que foram compartilhados, ao clicarem sobre eles, serão automaticamente direcionados para sua página.<br>
				Assim você constantemente impulsiona seu marketing pessoal, fazendo aparecer estes arquivos de acesso a sua página nas redes sociais.
				</p>

				<div class="grid-x grid-margin-x grid-margin-y">

					<div class="cell small-12 medium-auto large-auto">
						<h2>Conheça a estrutura da página que te disponibilizamos!</h2>
						<h3>Aqui você terá uma página exclusiva, podendo divulgar:</h3>

						<p>
							• Até 7 fotos de sua clínica<br>
							• Seu nome ou de sua clínica<br>
							• Sua foto<br>
							• Seu currículo profissional<br>
							• Seu logotipo<br>
							• Especialidades e tratamentos oferecidos<br>
							• Dias e horários de atendimento<br>
							• Endereço<br>
							• Telefones<br>
							• E-mail<br>
							• Site<br>
							• Texto sobre você ou sua clínica<br>
						</p>
					</div>

					<div class="cell small-12 medium-auto large-auto">
						<h2>Sua página também terá estes recursos para impulsionar seu marketing pessoal</h2>

						<p>
							• Botões para compartilhamento com as redes sociais<br>
							• Pop-up de chamada principal<br>
							• Mapa com geolocalizador<br>
							• Aba de contato fixa<br>
							• Endereço de sua página com link exclusivo<br>
						</p>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell">
			<h2 class="color purple" style="text-align: center; margin-bottom: 0;">SEU NEGÓCIO ESTARÁ DISPONÍVEL 24H POR DIA, TODOS OS DIAS DO ANO!</h2>
		</div>
	</div>
</section>

{include="anuncie-planos"}