<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<h2>Impulsione seu marketing pessoal!</h2>
					<h3>Aumente sua presença on-line e conquiste mais pacientes. Ofereça aqui os seus serviços, pois, "quem não aparece, não vende".</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-rocket bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color purple">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3" style="text-align: center;">

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-question icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<a href="/dentista-anuncie-seu-consultorio/como-funciona" class="button expanded border-radius large">O que é e como funciona?</a>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-vcard icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<a href="/dentista-anuncie-seu-consultorio/como-fazer-minha-pagina" class="button expanded border-radius large">Como fazer minha página?</a>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell icon">
						<ul class="table">
							<li><span class="icon-comments-o icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<a href="/dentista-anuncie-seu-consultorio/perguntas-frequentes" class="button expanded border-radius large">Perguntas Frequentes!</a>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-rocket icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<a href="/dentista-anuncie-seu-consultorio/como-impulsionar" class="button expanded border-radius large">Como impulsionar meu marketing pessoal?</a>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-thumbs-up icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<a href="#planos" class="button expanded border-radius large">Quero assinar!</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{include="anuncie-planos"}