<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<a href="/dentista-anuncie-seu-consultorio" class="button" style="margin-bottom: 0;"><span class="icon-angle-left"></span> Voltar</a>
					<h2>Como fazer minha página no Guia de Dentistas na Web?</h2>
					<h3>Você online em poucos minutos!</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-vcard bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color purple">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3" style="text-align: center;">

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-photo icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<h3><strong>1º passo</strong></h3> Faça as fotos principais (até sete) mais foto(s) do(s) profissional(is) que serão usadas em sua página, salve as imagens mais o seu logo (Se tiver) em uma pasta no seu dispositivo que será usado para acessar a internet.<br>
						OBS. Use um celular para isso, hoje a maioria deles tem câmeras muito boas.
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell">
						<ul class="table">
							<li><span class="icon-mobile-phone icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<h3><strong>2º passo</strong></h3> Usando o dispositivo (PC, Notebook, Tablet ou Smartphone) onde suas fotos estão salvas, acesse o nosso portal www.guiadedentistasnaweb.com.br. 
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell icon">
						<ul class="table">
							<li><span class="icon-unlock icon-large icon-overlay"></span></li>
						</ul>
					</div>
					<div class="cell">
						<h3><strong>3º passo</strong></h3> Em nossa home clique no menu ENTRAR localizado na parte superior do lado direito, em seguida faça seu login usando seus Dados de Acesso (E-mail e senha).
					</div>
				</div>
			</div>

		</div>
		<div class="grid-x">

			<div class="cell">

				<h2>Bem-vindo a sua Central de Anúncio!</h2>

				<p>
					Após o <strong>3º passo</strong> você terá acesso à Central do Anúncio de sua página, tudo o que for editado ali aparecerá em seu anúncio. Nos campos onde se inserem as fotografias e logo, existe uma programação, quando você clicar nestes campos se abrirá automaticamente a pasta onde você guarda suas imagens, caso você tenha salvo suas fotos em outra pasta, localize-a e abra esta pasta, então é só clicar na imagem e mandar abrir que ela vira automaticamente para o campo selecionado, a programação ira ajustar o tamanho e a resolução das imagens instantaneamente.
				</p>

				<h2>Veja como ficou sua página!</h2>

				<p>
				Após ter concluído a inserção de todos os dados de sua página, clique no menu <strong>Busca avançada</strong>, localizado no topo de nossa home page no lado direito, para localizar e visualizar como ficou sua página.
				</p>

				<p>
				Use apenas o filtro de pesquisa por <strong>Nome</strong>, digite o seu nome ou o da clínica usado na página do seu anúncio e clique em <strong>Buscar</strong>.
				Sendo necessário corrigir ou complementar alguns dados, clique na seta <strong>voltar</strong> do seu navegador até chegar novamente na página <strong>Central do anúncio</strong> e faça as correções.
				</p>

				<p>
				E se houver alguma dúvida clique nos pontos de interrogação <span class="icon-question-circle"></span> que você encontrará em cada seção, ele te direcionará para a página de ajuda.
				Se preferir suporte por telefone, ligue: <strong>(11) 2652-8929</strong> ou envie as fotos e todos os demais dados pelo e-mail <a href="mailto: atendimento@guiadedentistasnaweb.com.br">atendimento@guiadedentistasnaweb.com.br</a>, que faremos sua página.
				</p>

		</div>
	</div>
</section>

{include="anuncie-planos"}