<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<a href="/dentista-anuncie-seu-consultorio" class="button" style="margin-bottom: 0;"><span class="icon-angle-left"></span> Voltar</a>
					<h2>Perguntas Frequentes</h2>
					<h3>Tire suas principais dúvidas mais rápido por aqui.</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-comments-o bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color purple">
	<div class="grid-container content">
		<div class="grid-x">

			<div class="cell">

				<h2>O que eu preciso fazer para ter minha página no Guia de Dentistas na Web?</h2>

				<p>
					Após se cadastrar em nosso site e efetuar o pagamento, você terá acesso a uma página chamada CENTRAL DO ANÙNCIO, é sua área de acesso em nosso portal, tudo que você editar ali, aparecerá em sua página. Você apenas preencherá o formulário com todos os seus dados e baixará suas fotos e logo (se tiver), todo o restante é feito automaticamente pela programação do nosso portal.
				</p>

				<p>
					Você poderá fazer isso em qualquer lugar, pois nosso portal é responsivo, está adaptado para visualização em celulares e tablets. Você poderá fazer alterações e atualizações quando quiser, é tudo muito fácil e prático e tem também um passo a passo para te ajudar quando houver alguma dúvidas.
				</p><br>

				<hr>

				<h2>Eu terei outros custos além do valor mensal?</h2>

				<p>
					Não, mais nenhum custo extra! Já está tudo incluído, atualização, hospedagem e manutenção do sistema, etc. E você terá total autonomia sobre sua página para atualizar seus dados e trocar fotos quando quiser.
				</p><br>

				<hr>

				<h2>É exigido um período de fidelidade?</h2>

				<p>
					Não, você poderá pausar ou cancelar sua página quando quiser.
				</p><br>

				<hr>

				<h2>Como será corrigido o valor mensal?</h2>

				<p>
					O valor será corrigido anualmente de acordo com o índice do IGPM-FGV, ou outro índice que vier a ser estipulado.
				</p><br>

				<hr>

				<h2>Quanto tempo demora para minha página ficar pronta?</h2>

				<p>
					Apenas o tempo que você levar para preencher o formulário na CENTRAL DO ANÚNCIO e subir suas fotos, após isso, sua página estará no ar instantaneamente.
				</p><br>

				<hr>

				<h2>É possível anunciar duas clínicas ou mais em uma página?</h2>

				<p>
					Não, para cada endereço será necessário adquirir uma página, pois o sistema de geolocalização puxa o trajeto no mapa com base em um endereço e também para cada página será necessário o cadastro de um e-mail exclusivo, o qual será usado como login para acessar a página na CENTRAL DO ANÚNCIO para se fazer alterações ou atualizações.
				</p><br>

				<hr>

				<h2>Qual a utilidade do endereço de minha página com link exclusivo?</h2>

				<p>
					Sua página estará dentro do nosso portal, mas como ela tem endereço com um link exclusivo, e os clientes terão como acessar diretamente sua página sem passar pela nossa home page. E tendo endereço de sua página com link exclusivo, você poderá até fazer campanhas de links patrocinado diretamente no Google se quiser, ela é equivalente a um site.
				</p><br>

				<hr>

				<h2>O que o sistema de geolocalização e qual sua utilidade?</h2>

				<p>
					O sistema de geolocalização é um recurso que identifica a localização do internauta, e identifica também a localização dos dentistas mais próximos dele, que estão cadastrados aqui no portal, e apresenta para o internauta os anúncios destes profissionais. Como o público de vocês é mais local, esse recurso ajuda muito o usuário na sua busca.
				</p><br>

				<hr>

				<h2>Como é feita a divulgação deste portal?</h2>

				<p>
					Nossa empresa divulgará o portal como um todo! Trabalhamos com tecnologia de ponta no marketing digital a fim de divulgar e otimizar esta plataforma, criando campanhas patrocinadas nas mídias sociais, digitais e off-line. E também cada cliente divulga sua própria página, aos amigos, parentes, clientes, no Facebook, no WattsApp, no cartão de visitas, e-mail marketing, etc. Com tudo isso, seu anúncio ganha muito mais força e possibilidade de aparecer entre os primeiros resultados nas buscas online que as pessoas fizerem.
				</p>

		</div>
	</div>
</section>

{include="anuncie-planos"}