<br>
<section class="grid-container full" id="planos">
	<div class="grid-container content">
		<div class="grid-x" style="text-align: center;">
			<div class="cell">
				<h2>Quanto custa para impulsionar seu marketing pessoal</h2>
			</div>
			<div class="cell">

				<div class="grid-x grid-padding-x grid-padding-y border-radius" style="max-width: 300px; background-color: #F3F2F2; display: block; margin: 0 auto;">

					<div class="cell">
						<h2 class="border-radius color red">PLANO MKT. PESSOAL</h2>
						<hr class="red">

						<h2>R$ 49,90</h2>
						<h3>por mês</h3>

						<img src="/templates/gdw/images/banner-pagseguro_125_150.jpg">
					</div>

					<div class="cell">
						<a href="/carrinho/autenticacao" class="button large expanded red border-radius" style="margin-bottom: 0;">Quero assinar</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>