<section class="grid-container full">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y">

			<div class="cell" style="text-align: center;">
				<span class="icon-simbolo" style="color: #484848; font-size: 80px;"></span>

				<h2>Acesse sua central de anúncio</h2>

				<div style="display: block; max-width: 400px; margin: 0 auto;">
				<input type="text" name="email" placeholder="Digite seu e-mail">
				<input type="password" name="senha" placeholder="Digite sua senha">
				<a href="#" class="button expanded border-radius">ENTRAR</a>
				</div>

				<a href="#" class="color red">Esqueci minha senha</a><br><br>

				<h2>Dentista, anuncie seu consultório!</h2>
				<h3><a href="/dentista-anuncie-seu-consultorio" class="color">Clique aqui</a> para saber como impulsionar seu marketing pessoal.</h3><br><br>
			</div>

		</div>
	</div>
</section>