<main class="grid-container">
	<br><br>
	<div class="grid-x">
		<div class="cell">
			
			<div class="grid-x cart-progress">

				<div class="cell auto color red">
					<span class="icon-shopping-cart"></span>
					<h4>PLANO</h4>
				</div>

				<div class="cell auto color red">
					<span class="icon-angle-right"></span>
				</div>

				<div class="cell auto color red">
					<span class="icon-user-circle-o"></span>
					<h4>AUTENTICAÇÃO</h4>
				</div>

				<div class="cell auto color red">
					<span class="icon-angle-right"></span>
				</div>

				<div class="cell auto color red">
					<span class="icon-credit-card-alt"></span>
					<h4>PAGAMENTO</h4>
				</div>

				<div class="cell auto color overlay">
					<span class="icon-angle-right"></span>
				</div>

				<div class="cell auto color overlay">
					<span class="icon-flag-checkered"></span>
					<h4>CONFIRMAÇÃO</h4>
				</div>

			</div>

		</div>
	</div>
</main><br>