{include="carrinho-progresso"}

<section class="grid-container full background-color">
	<div class="grid-container">
		
		<div class="grid-x grid-margin-x grid-margin-y">
			<div class="cell small-12 medium-8 large-auto">

				<div class="grid-x grid-margin-x grid-margin-y">
					
					<div class="cell small-12 medium-auto large-auto">
						<h2>Informações de Cobrança</h2>
						<h3>Preencha com dados referentes ao seu cartão de crédito</h3>

						<input type="text" name="cpf" placeholder="Informe o CPF">
						<input type="text" name="nome" placeholder="Nome completo">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="telefone" placeholder="Telefone">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="data-Nasci" placeholder="Data de Nascimento">
							</div>
						</div>

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="cep" placeholder="CEP">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<ul class="table">
									<li><a href="#" class="color white">Não sei meu cep.</a></li>
								</ul>
							</div>
						</div>

						<input type="text" name="endereco" placeholder="Endereço">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="numero" placeholder="Número">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="complemento" placeholder="Complemento">
							</div>
						</div>

						<input type="text" name="bairro" placeholder="Bairro">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="cidade" placeholder="Cidade">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<select name="estado">
									<option>< Estado ></option>
								</select>
							</div>
						</div>
					</div>

					<div class="cell small-12 medium-auto large-auto">
						<h2>Dados do Cartão</h2>
						<h3>Informe os dados do seu cartão de crédito agora. A cobrança será feita mensalmente automaticamente.</h3>

						<input type="text" name="nome" placeholder="Nome do titular">
						<input type="text" name="numero" placeholder="Número do cartão">
						
						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="validade" placeholder="Validade">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="ccv" placeholder="Código de segurança">
							</div>
						</div>

						<select name="estado">
							<option>< Parcelas ></option>
						</select>

						<a href="/carrinho/confirmacao" class="button red expanded border-radius">Finalizar</a>
					</div>
				</div>

			</div>
			<div class="cell small-12 medium-4 large-shrink">

				<div class="grid-x grid-padding-x grid-padding-y border-radius" style="max-width: 300px; height: 100%; background-color: #F3F2F2; display: block; margin: 0 auto;">

					<div class="cell">
						<h3 class="border-radius color" style="margin: 0;">CHECKOUT</h3>
						<hr class="color">

						<p class="color gray">Plano Mkt. Pessoal</p>
						<h2 class="color">R$ 49,90</h2>
						<h3 class="color">por mês</h3>
					</div>

				</div>

			</div>
		</div><br>

	</div>
</section>