{include="carrinho-progresso"}

<section class="grid-container full background-color">
	<div class="grid-container">
		
		<div class="grid-x grid-margin-x grid-margin-y">
			<div class="cell small-12 medium-8 large-auto">

				<div class="grid-x grid-margin-x grid-margin-y">
					<div class="cell small-12 medium-auto large-auto">
						<h2>Já sou cadastrado</h2>

						<input type="text" name="email" placeholder="Digite seu e-mail">
						<input type="password" name="senha" placeholder="Digite sua senha">
						<a href="#" class="button red expanded border-radius">CONTINUAR</a>

						<a href="/carrinho/pagamento" class="color white">Esqueci minha senha</a><br><br>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<h2>Não possuo cadastro</h2>

						<input type="text" name="nome" placeholder="Nome completo">
						<input type="text" name="telefone" placeholder="Telefone">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="cidade" placeholder="Cidade">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<select name="estado">
									<option>< Estado ></option>
								</select>
							</div>
						</div>

						<input type="text" name="email" placeholder="E-mail">
						<input type="text" name="confirmacao" placeholder="Confirme seu e-mail">

						<input type="password" name="senha" placeholder="Senha">

						<a href="/carrinho/pagamento" class="button red expanded border-radius">CONTINUAR</a>
					</div>
				</div>

			</div>
			<div class="cell small-12 medium-4 large-shrink">

				<div class="grid-x grid-padding-x grid-padding-y border-radius" style="max-width: 300px; height: 100%; background-color: #F3F2F2; display: block; margin: 0 auto;">

					<div class="cell">
						<h3 class="border-radius color" style="margin: 0;">CHECKOUT</h3>
						<hr class="color">

						<p class="color gray">Plano Mkt. Pessoal</p>
						<h2 class="color">R$ 49,90</h2>
						<h3 class="color">por mês</h3>
					</div>

				</div>

			</div>
		</div><br>

	</div>
</section>