{include="includes/header"}

<section class="grid-container full">
	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-shrink background-color">
			<div class="grid-x filter">
				<div class="cell">
					<h1 class="section">Filtros</h1>
				</div>
				<div class="cell search-input">
					<span class="icon-search color"></span>
					<input type="text" name="search" class="border-radius" placeholder="Onde você procura um Dentista?">
				</div>
				<div class="cell">
					<h1 class="section">Especialidades</h1>
				</div>
				<div class="cell">
					<select>
						<option>< Selecione ></option>
					</select>
				</div>
				<div class="cell">
					<h1 class="section">Distância até você em Km</h1>
				</div>
				<div class="cell">
					<div class="grid-x" style="text-align: center;">
						<div class="cell auto">
							<a href="#" class="rounded-box on">5</a>
						</div>
						<div class="cell auto">
							<a href="#" class="rounded-box">10</a>
						</div>
						<div class="cell auto">
							<a href="#" class="rounded-box">20</a>
						</div>
						<div class="cell auto">
							<a href="#" class="rounded-box">50+</a>
						</div>
					</div><br>
				</div>
				<div class="cell">
					<h1 class="section">Profissional ou Clínica</h1>
				</div>
				<div class="cell">
					<input type="text" name="search" class="border-radius" placeholder="Digite o nome aqui">
				</div>
				<div class="cell">
					<a href="#" class="button expanded red border-radius">Buscar</a>
				</div>
			</div>
		</div>
		<div class="cell small-12 medium-12 large-auto">
			<div class="grid-x">
				<div class="cell auto">
					<ul class="table">
						<li>
							<h2>Resultado de sua busca</h2>
							<h3>Você pode utilizar os filtros ao lado para obter resultados melhores.</h3>
						</li>
					</ul>
				</div>
			</div><br>			
			<div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-4 catalog-grid">
				<div class="cell border-radius" onclick="window.location.href='/anuncio/30/nome'">
					<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
					<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
					<h2>MARINE IMPLANTE CLINICA ODONTOLÓGICA</h2>
					<h3>TRABALHANDO PELO SEU SORRISO</h3>
				</div>
				<div class="cell border-radius" onclick="window.location.href='/anuncio/30/nome'">
					<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
					<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
					<h2>CLINICA PROSIL</h2>
					<h3>ESPECIALISTA EM ESTETICA DENTAL</h3>
				</div>
				<div class="cell border-radius" onclick="window.location.href='/anuncio/30/nome'">
					<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
					<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
					<h2>BRUSTLE</h2>
					<h3>CONSULTÓRIO ODONTOLÓGICO</h3>
				</div>
				<div class="cell border-radius" onclick="window.location.href='/anuncio/30/nome'">
					<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
					<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
					<h2>DR WILFRED GEORGE CLÍNICA ODONTOLÓGICA</h2>
					<h3>ALÍVIO PARA A TUA DOR</h3>
				</div>
			</div><br>
			<div class="grid-x">
				<div class="cell auto">
				<a href="#" class="button hollow expanded border-radius">Carregar mais</a>
				</div>
			</div>
		</div>
	</div>
</section>