{include="central-header"}

<section class="grid-container full ad-center">
	<div class="grid-x grid-padding-x grid-padding-y">
		
		<div class="cell">
			<h2>Meu Plano</h2>
			<h3>Confira as informações referente ao seu plano de anúncio e seus dados de acesso ao Guia de Dentistas na Web.</h3>

			<a href="/central-do-anuncio/plano/alterar-cobranca" class="button margin-min border-radius">Alterar Cartão de Crédito</a>

			<a href="/central-do-anuncio/plano" class="button orange margin-min border-radius">Mudar senha</a>

			<a href="/central-do-anuncio/plano" class="button red margin-min border-radius">Pausar minha assinatura</a>


			<hr class="hollow"><br><br>
		</div>

		<div class="cell">
			
			<div class="grid-x grid-margin-x grid-margin-y">
				<div class="cell small-12 medium-4 large-4">

					<div class="grid-x grid-padding-x grid-padding-y border-radius" style="height: 100%; background-color: #F3F2F2; display: block; margin: 0 auto;">

					<div class="cell">
						<h3 class="border-radius color" style="margin: 0;">PLANO ATUAL</h3>
						<hr class="color">

						<p class="color gray">Plano Mkt. Pessoal</p>
						<h2 class="color">R$ 49,90</h2>
						<h3 class="color">por mês</h3>

						<p class="color gray">Última cobrança realizada dia 5/08/2018 com sucesso!</p>
						<p class="color gray">Cartão de crédito cadastrado, final <strong>5988</strong>.</p>

						<a href="/central-do-anuncio/profissional" class="button margin-min border-radius">Alterar Cartão de Crédito</a><br>
						<a href="/central-do-anuncio/profissional" class="button red margin-min border-radius">Pausar minha assinatura</a>
					</div>

				</div>

				</div>
				<div class="cell small-12 medium-8 large-8">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table fixed-width"><li>Email:</li></ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
								<div class="cell small-12 medium-12 large-shrink">
									<a href="/central-do-anuncio/profissional" class="button orange margin-min border-radius">Alterar</a>
								</div>
							</div>

						</div>
					</div>

					<hr class="hollow">

					<h2>Últimas cobranças</h2>

					<div class="grid-x">
						<div class="cell small-4 medium-4 large-4">
							<strong>Data</strong>
						</div>
						<div class="cell small-4 medium-4 large-4">
							<strong>Valor</strong>
						</div>
						<div class="cell small-4 medium-4 large-4">
							<strong>Situação</strong>
						</div>
					</div>

					<div class="grid-x">
						<div class="cell small-4 medium-4 large-4">
							5/08/2018
						</div>
						<div class="cell small-4 medium-4 large-4">
							R$ 49,90
						</div>
						<div class="cell small-4 medium-4 large-4">
							Aprovada
						</div>
					</div>

				</div>
			</div><br><br>

		</div>

	</div>
</section>