{include="central-header"}

<section class="grid-container full ad-center">
	<div class="grid-x grid-padding-x grid-padding-y">
		
		<div class="cell">
			<h2>Perfil da Minha Página</h2>
			<h3>Olá Anderson Dias, edite as suas informações, caso tenha dúvidas, clique neste ícone <span class="icon-question-circle color red"></span> localizado em cada seção.</h3>
		</div>

		<div class="cell">

			<div class="grid-x grid-margin-x grid-margin-y">
				<div class="cell small-12 medium-4 large-4">

					<div class="ad-center-logo">
						<input type="file">
					</div>

					<a href="#" class="small-text"><span class="icon-question-circle"></span> Como inserir meu logotipo?</a><br><br>

					<p>Sobre a clínica:</p>

					<textarea name="sobre" style="height: 400px;"></textarea>

				</div>
				<div class="cell small-12 medium-8 large-8">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table">
								<li><strong>Veicular o anúncio?</strong> <a href="#"><span class="icon-question-circle"></span></a>:</li>
							</ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<a href="#" class="button small margin-min border-radius">SIM</a> <a href="#" class="button overlay small margin-min border-radius">NÃO</a>
						</div>
					</div><br>

					<p>Link exclusivo para sua página:</p>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table">
								<li><strong>guiadedentistas.com/</strong></li>
							</ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<input type="text" name="link">
						</div>
					</div>

					<p>
						<span class="small-text color">
							<span class="icon-exclamation"></span> 
						    O nome digitado irá formar o link do endereço de acesso à sua página no site do Guru do Sorriso. Ex: <strong>guiadedentistas.com/odontoplatinum</strong>.
						</span>
					</p>

					<hr class="hollow">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Nome/Clínica:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Platinum Clínica Odontológica.
							</span>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Subtitulo:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Seu sorriso, sua imagem.
							</span>

						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>CRO:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Digite letras e números. Ex: CRO-SP 12.345.
							</span>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>E-mail:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Site:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Facebook:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Horários:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Seg à Sex das 8h às 18h. Sáb. das 8h às 14h.
							</span>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Telefone(s): <a href="#"><span class="icon-question-circle"></span></a></li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Para acrescentar separe por ponto e vírgula ( ; ), enter ou tab.
							</span>

						</div>
					</div>

					<hr class="hollow">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>CEP:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
						<div class="cell small-12 medium-auto large-auto">
							<ul class="table"><li><a href="#" class="small-text color red ad-center-alert">Não sei meu cep.</a></li></ul>
						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Endereço:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Número:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Complemento:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Bairro:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Cidade:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Estado:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

						</div>
					</div>

					<hr class="hollow">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table fixed-width"><li>Especialidades e Tratamentos: <a href="#"><span class="icon-question-circle"></span></a></li></ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<input type="text" name="link">
						</div>
					</div>

					<span class="small-text color ad-center-alert">
						<span class="icon-exclamation"></span> 
						Ex: Para acrescentar separe por ponto e vírgula ( ; ), enter ou tab.
					</span>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table fixed-width"><li>Convênios Atendidos: <a href="#"><span class="icon-question-circle"></span></a></li></ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<input type="text" name="link">
						</div>
					</div>

					<span class="small-text color ad-center-alert">
						<span class="icon-exclamation"></span> 
						Liste os convênios que são aceitos onde você atende. Dexei em branco caso não aceite. Ex: Para acrescentar separe por ponto e vírgula ( ; ), enter ou tab.
					</span>

				</div>
			</div><br><br>

		</div>

	</div>
</section>