<main class="grid-container full background-color" style="margin-bottom: 0;">
	<div class="grid-x" style="text-align: center;">
		<div class="cell">
			<br>
			<h2>Central do Anúncio</h2>
			<h3>Edite aqui as informações que aparecerão na sua página, as informações serão salvas automaticamente conforme for inserindo.</h3><br>
		</div>
	</div>

	<div class="grid-x flaps">
		<div class="cell auto">
			<a href="/central-do-anuncio" class="button expanded {if="$page=='perfil'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-vcard"></span> <span>Meu perfil</span></a>
		</div>
		<div class="cell auto">
			<a href="/central-do-anuncio/profissionais" class="button expanded {if="$page=='profissionais'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-users"></span> <span>Profissionais</span></a>
		</div>
		<div class="cell auto">
			<a href="/central-do-anuncio/fotos" class="button expanded {if="$page=='fotos'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-image"></span> <span>Fotos</span></a>
		</div>
		<div class="cell auto">
			<a href="/central-do-anuncio/popup" class="button expanded {if="$page=='popup'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-window-maximize"></span> <span>PopUp</span></a>
		</div>
		<div class="cell auto">
			<a href="/central-do-anuncio/material" class="button expanded {if="$page=='material'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-file-text"></span> <span>Material</span></a>
		</div>
		<div class="cell auto">
			<a href="/central-do-anuncio/plano" class="button expanded {if="$page=='plano'"}white{else}overlay{/if}" style="margin-bottom: 0;"><span class="icon-info"></span> <span>Plano</span></a>
		</div>
	</div>
</main>