{include="central-header"}

<section class="grid-container full ad-center">
	<div class="grid-x grid-padding-x grid-padding-y">
		
		<div class="cell">
			<h2>Alterar Cobrança</h2>
			<h3>Edite as informações abaixo para alterar a sua forma de pagamento e endereço de cobrança.</h3>

			<a href="/central-do-anuncio/plano" class="button margin-min border-radius">Voltar</a>
			<a href="/central-do-anuncio/plano" class="button orange margin-min border-radius">Salvar</a>


			<hr class="hollow">
		</div>

		<div class="cell">
			
			<div class="grid-x grid-margin-x grid-margin-y">
				<div class="cell small-12 medium-auto large-auto">
						<h2>Informações de Cobrança</h2>
						<h3>Preencha com dados referentes ao seu cartão de crédito</h3>

						<input type="text" name="cpf" placeholder="Informe o CPF">
						<input type="text" name="nome" placeholder="Nome completo">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="telefone" placeholder="Telefone">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="data-Nasci" placeholder="Data de Nascimento">
							</div>
						</div>

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="cep" placeholder="CEP">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<ul class="table">
									<li><a href="#" class="color white">Não sei meu cep.</a></li>
								</ul>
							</div>
						</div>

						<input type="text" name="endereco" placeholder="Endereço">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="numero" placeholder="Número">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="complemento" placeholder="Complemento">
							</div>
						</div>

						<input type="text" name="bairro" placeholder="Bairro">

						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="cidade" placeholder="Cidade">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<select name="estado">
									<option>< Estado ></option>
								</select>
							</div>
						</div>
					</div>

					<div class="cell small-12 medium-auto large-auto">
						<h2>Dados do Cartão</h2>
						<h3>Informe os dados do seu cartão de crédito agora. A cobrança será feita mensalmente automaticamente.</h3>

						<input type="text" name="nome" placeholder="Nome do titular">
						<input type="text" name="numero" placeholder="Número do cartão">
						
						<div class="grid-x grid-margin-x">
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="validade" placeholder="Validade">
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<input type="text" name="ccv" placeholder="Código de segurança">
							</div>
						</div>

						<select name="estado">
							<option>< Parcelas ></option>
						</select>
					</div>
				</div>
			</div><br><br>

		</div>

	</div>
</section>