{include="central-header"}

<section class="grid-container full ad-center">
	<div class="grid-x grid-padding-x grid-padding-y">
		
		<div class="cell">
			<h2>Novo Profissional</h2>
			<h3>Preencha os campos abaixo para cadastrar um novo profissional e clique em salvar ao concluir.</h3>

			<a href="/central-do-anuncio/profissionais" class="button margin-min border-radius">Voltar</a>
			<a href="/central-do-anuncio/profissionais" class="button orange margin-min border-radius">Salvar</a>

			<hr class="hollow"><br><br>
		</div>

		<div class="cell">

			<div class="grid-x grid-margin-x grid-margin-y">
				<div class="cell small-12 medium-4 large-4">

					<div class="ad-center-logo">
						<input type="file">
					</div>

					<a href="#" class="small-text"><span class="icon-question-circle"></span> Como inserir uma foto?</a>
				</div>
				<div class="cell small-12 medium-8 large-8">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table fixed-width"><li>Nome:</li></ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<input type="text" name="link">
						</div>
					</div>

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>Especialidade:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Ortodontista.
							</span>

						</div>
						<div class="cell small-12 medium-auto large-auto">

							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-12 large-shrink">
									<ul class="table fixed-width"><li>CRO:</li></ul>
								</div>
								<div class="cell small-12 medium-12 large-auto">
									<input type="text" name="link">
								</div>
							</div>

							<span class="small-text color ad-center-alert">
								<span class="icon-exclamation"></span> 
								Ex: Digite letras e números. Ex: CRO-SP 12.345.
							</span>

						</div>
					</div>

					<hr class="hollow">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-12 large-shrink">
							<ul class="table fixed-width"><li>Especialidades e Tratamentos: <a href="#"><span class="icon-question-circle"></span></a></li></ul>
						</div>
						<div class="cell small-12 medium-12 large-auto">
							<input type="text" name="link">
						</div>
					</div>

					<span class="small-text color ad-center-alert">
						<span class="icon-exclamation"></span> 
						Ex: Descreva a sua experiência profissional, seus cursos e especializações. Para acrescentar separe por ponto e vírgula ( ; ), enter ou tab. Ex: Graduação..., Especialização..., Cursos de atualização...
					</span>

				</div>
			</div><br><br>

		</div>

	</div>
</section>