{include="central-header"}

<section class="grid-container full ad-center">
	<div class="grid-x grid-padding-x grid-padding-y">
		
		<div class="cell">
			<h2>Cadastro de Profissionais</h2>
			<h3>Gerencie os profissionais da sua clínica.</h3>

			<a href="/central-do-anuncio/profissional" class="button orange margin-min border-radius">Novo Profissional</a>

			<hr class="hollow"><br><br>
		</div>

		<div class="cell">

			<div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3">

				<div class="cell">
					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-shrink large-shrink">
							<div class="profile-image"><img src="/templates/gdw/images/profile-image.jpg"></div>
						</div>
						<div class="cell small-12 medium-auto large-auto">
							<h3 style="margin: 0;">DR. DANIEL UYEDA</h3>
							<h4 class="color gray">CRO-SP 8869</h4>								

							<hr class="hollow"><h1 class="section hollow"><strong>Opções</strong></h1>
							<a href="/central-do-anuncio/profissional/1" class="button small margin-min border-radius">EDITAR</a>
							<a href="/central-do-anuncio/profissional/1/excluir" class="button small red margin-min border-radius">EXCLUIR</a>
						</div>
					</div>
				</div>

				<div class="cell">
					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-shrink large-shrink">
							<div class="profile-image"><img src="/templates/gdw/images/profile-image.jpg"></div>
						</div>
						<div class="cell small-12 medium-auto large-auto">
							<h3 style="margin: 0;">DR. DANIEL UYEDA</h3>
							<h4 class="color gray">CRO-SP 8869</h4>								

							<hr class="hollow"><h1 class="section hollow"><strong>Opções</strong></h1>
							<a href="/central-do-anuncio/profissional/1" class="button small margin-min border-radius">EDITAR</a>
							<a href="/central-do-anuncio/profissional/1/excluir" class="button small red margin-min border-radius">EXCLUIR</a>
						</div>
					</div>
				</div>

			</div><br><br>
			
		</div>

	</div>
</section>