<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<h2>Quer saber como funciona o Guia de dentistas na web?</h2>
					<h3>Veja como é fácil!</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-question-circle bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color green">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y">

			<div class="cell">
				<div class="grid-x h-grid-icons">
					<div class="cell small-12 medium-shrink large-shrink icon">
						<ul class="table">
							<li><span class="icon-search"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<ul class="table">
							<li>
								<h2>1. Busca Direta</h2>
								<p>
									De forma simples e rápida procure dentistas pelo nome de sua cidade ou filtre pela especialidade do seu interesse. Oferecemos informações completas e imparciais sobre milhares de consultórios espalhados pelo Brasil, ajudando o paciente a decidir na escolha por bons profissionais para se consultar sobre seu tratamento dental. O nosso objetivo é ligar, de forma prática, você paciente ao profissional qualificado que você procura.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x h-grid-icons">
					<div class="cell small-12 medium-shrink large-shrink icon">
						<ul class="table">
							<li><span class="icon-compass"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<ul class="table">
							<li>
								<h2>3. Busca por Localização</h2>
								<p>
									Autorize o Guia de dentistas na Web a rastrear sua localização atual, assim, todos os resultados de sua pesquisa aparecerão partindo das clínicas e profissionais mais próximos de sua localização, facilitando para você encontrar os bons profissionais que existem na sua região.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="grid-x h-grid-icons">
					<div class="cell small-12 medium-shrink large-shrink icon">
						<ul class="table">
							<li><span class="icon-search-plus"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<ul class="table">
							<li>
								<h2>3. Busca Avançada</h2>
								<p>
									Com a busca avançada você poderá alterar os resultados de sua pesquisa, ampliando a distância a partir de sua localização, ou procurando a clínica ou profissional pelo nome.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>