<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<h2>Quer entrar em contato conosco?</h2>
					<h3>Tire suas principais dúvidas mais rápido pelo nosso FAQ. Se precisar falar com a gente, confira abaixo como fazer: </h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-phone-square bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color orange">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y">

			<div class="cell">
				<div class="grid-x">


					<div class="cell small-12 medium-auto large-auto">
						<div class="grid-x h-grid-icons">
							<div class="cell small-12 medium-shrink large-shrink icon">
								<ul class="table">
									<li><span class="icon-phone"></span></li>
								</ul>
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<ul class="table">
									<li>
										<h2>Telefone</h2>
										<h3>
											Entre em contato conosco pelo número:<br> <strong>(11) 2805-8121</strong>.
										</h3>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<div class="grid-x h-grid-icons">
							<div class="cell small-12 medium-shrink large-shrink icon">
								<ul class="table">
									<li><span class="icon-info-circle"></span></li>
								</ul>
							</div>
							<div class="cell small-12 medium-auto large-auto">
								<ul class="table">
									<li>
										<h2>FAQ</h2>
										<h3>Confira em nossa central como tirar suas principais dúvidas.</h3>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="cell">
				<div class="grid-x h-grid-icons">
					<div class="cell small-12 medium-shrink large-shrink icon">
						<ul class="table">
							<li><span class="icon-envelope"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-auto large-auto">
						<ul class="table">
							<li>
								<h2>Mensagem</h2>
								<h3>Você pode enviar um e-mail para contato@guiadedentistasnaweb.com.br, ou se preferir, preencha o formulário abaixo:</h3>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cell">
				<form>

					<input type="text" name="nome" placeholder="Nome">

					<div class="grid-x grid-margin-x">
						<div class="cell small-12 medium-auto large-auto">
							<input type="text" name="email" placeholder="E-mail">
						</div>
						<div class="cell small-12 medium-auto large-auto">
							<input type="text" name="telefone" placeholder="Telefone">
						</div>
					</div>

					<select>
						<option>< Assunto ></option>
					</select>

					<a href="#" class="button small expanded red">Enviar</a>

				</form>
			</div>

		</div>
	</div>
</section>