	<footer class="grid-container full">
		<div class="grid-container">
			<div class="grid-x company">
				<div class="cell auto">
					<span class="icon-simbolo-outline logo"></span><br>
					<p>
						O Guia de dentistas na web tem como objetivo, ligar, de forma prática, você paciente ao profissional qualificado que você procura.
					</p>
				</div>
			</div><br>
			<div class="grid-x grid-margin-x grid-margin-y nav">
				<div class="cell small-12 medium-12 large-auto"><a href="/quem-somos">Quem Somos</a></div>
				<div class="cell small-12 medium-12 large-auto"><a href="/dentista-anuncie-seu-consultorio">Anuncie</a></div>
				<div class="cell small-12 medium-12 large-auto"><a href="/termos-e-privacidade">Termos e Privacidade</a></div>
				<div class="cell small-12 medium-12 large-auto"><a href="/contato">Contato</a></div>
			</div>
			<div class="grid-x copy">
				<div class="cell auto">
					® Guia de Dentistas na Web • Todos os direitos reservados
				</div>
			</div>
		</div>
	</footer>
	
	<script src="/templates/gdw/js/script.js"></script>

	<div class="reveal" id="modal" data-reveal></div>

	<script src="/vendor/zurb/foundation/dist/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>

	<script type="text/javascript" src="/vendor/slick-master/slick/slick.min.js"></script>    
</body>
</html>