<!DOCTYPE html>
<html>
<head>
	<title>Guia de Dentistas na Web</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="/templates/gdw/images/favicon.ico">
	<link rel="apple-touch-icon" href="/templates/gdw/images/shortcut.png">

	<link href="https://fonts.googleapis.com/css?family=Caveat|Roboto+Condensed:300,400,700|Roboto:400,400i,500,500i,700" rel="stylesheet">

	<link rel="stylesheet" href="/vendor/zurb/foundation/dist/css/foundation.min.css" type="text/css">

	<link rel="stylesheet" type="text/css" href="/templates/gdw/icomoon/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/templates/gdw/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/templates/gdw/css/desktop.css" type="text/css" media="only screen and (min-width: 1024px)">
	<link rel="stylesheet" type="text/css" href="/templates/gdw/css/mobile.css" type="text/css" media="only screen and (max-width: 1023px)">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/templates/gdw/js/script.js"></script>
	<script src="/templates/gdw/js/jquery.maskedinput.min.js"></script>
</head>
<body>