<header class="grid-container full">
	<div class="grid-x">
		<div class="cell auto">
			<span class="icon-logo-h logo" onclick="window.location.href='/'"></span>
		</div>
		<div class="cell auto">
			<nav>
				<ul>
					<li><a href="#"><span>Busca avançada</span></a></li>
					<li><a href="#"><span>Como funciona</span></a></li>
					<li><a href="#"><span>Doutor, faça parte!</span></a></li>
					<li><a href="#"><span>Entrar</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<main class="grid-container full">
	<div class="main-search">
		<div class="grid-container border-radius border-box">
			<div class="grid-x grid-margin-x">
				<div class="cell auto">
					<input type="text" name="search" class="border-radius" placeholder="Onde você procura um Dentista?”">
				</div>
				<div class="cell shrink">
					<a href="#" class="button red border-radius">Buscar</a>
				</div>
			</div>
		</div>
		<div class="grid-x" style="text-align: center; display: block;">
			<br>
			<a href="#" class="upper-case">Dentista, anuncie seu consultório</a>
		</div>
	</div>

	<div class="grid-x">
		<div class="cell auto">
			<div class="video">
				<div class="video-headline border-box">
					<h1>Encontre seu Dentista</h1>
					<span>Conheça profissionais qualificados e encontre um pertinho de você!</span>
				</div>
				<video id="video" autoplay muted loop>
				    <source src="/templates/gdw/images/1080p.mp4" type="video/mp4">
				    <source src="/templates/gdw/images/1080p.ogv" type="video/ogg">
				    <source src="/templates/gdw/images/1080p.webm" type="video/webm">
				</video>
			</div>
		</div>
	</div>
</main>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Qual o seu tipo de necessidade?</h2>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y v-grid-images">
		<div class="cell small-12 medium-auto large-auto border-radius">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></li>
				<li><div>Botox Odontológico</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/implante.jpg');"></div></li>
				<li><div>Implante</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/ortodontia.jpg');"></div></li>
				<li><div>Ortodontia</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/clareamento.jpg');"></div></li>
				<li><div>Clareamento Dental</div></li>
			</ul>
		</div>
		<div class="cell select small-12 medium-auto large-auto border-radius">
			<ul>
				<li class="image"><div><span class="icon-tooth"></span></div></li>
				<li><div>Ver tudo (+ 50)</div></li>
			</ul>
		</div>
	</div>
</section><br><br>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Dentistas que encontramos próximos de você</h2>
			<h3>Encontre clínicas de excelente qualidade pertinho da sua casa</h3>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y catalog-grid">
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>MARINE IMPLANTE CLINICA ODONTOLÓGICA</h2>
			<h3>TRABALHANDO PELO SEU SORRISO</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>CLINICA PROSIL</h2>
			<h3>ESPECIALISTA EM ESTETICA DENTAL</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>BRUSTLE</h2>
			<h3>CONSULTÓRIO ODONTOLÓGICO</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>DR WILFRED GEORGE CLÍNICA ODONTOLÓGICA</h2>
			<h3>ALÍVIO PARA A TUA DOR</h3>
		</div>
	</div><br>
	<div class="grid-x">
		<div class="cell auto">
		<a href="#" class="button outline expanded border-radius">Ver todos <span class="icon-angle-right"></span></a>
		</div>
	</div>
</section><br><br>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Dentistas em São Paulo</h2>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y catalog-grid">
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>MARINE IMPLANTE CLINICA ODONTOLÓGICA</h2>
			<h3>TRABALHANDO PELO SEU SORRISO</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>CLINICA PROSIL</h2>
			<h3>ESPECIALISTA EM ESTETICA DENTAL</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>BRUSTLE</h2>
			<h3>CONSULTÓRIO ODONTOLÓGICO</h3>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>DR WILFRED GEORGE CLÍNICA ODONTOLÓGICA</h2>
			<h3>ALÍVIO PARA A TUA DOR</h3>
		</div>
	</div><br>
	<div class="grid-x">
		<div class="cell auto">
		<a href="#" class="button outline expanded border-radius">Ver todos <span class="icon-angle-right"></span></a>
		</div>
	</div>
</section><br><br>

<footer class="grid-container full">
	<div class="grid-container">
		<div class="grid-x company">
			<div class="cell auto">
				<span class="icon-simbolo-outline logo"></span><br>
				<p>
					O Guia de dentistas na web é uma empresa que leva o paciente de encontro ao dentista.
				</p>
			</div>
		</div><br>
		<div class="grid-x grid-margin-x grid-margin-y nav">
			<div class="cell small-12 medium-12 large-auto"><a href="#">Quem Somos</a></div>
			<div class="cell small-12 medium-12 large-auto"><a href="#">Termos e Condições</a></div>
			<div class="cell small-12 medium-12 large-auto"><a href="#">Anuncie</a></div>
			<div class="cell small-12 medium-12 large-auto"><a href="#">Política de Privacidade</a></div>
		</div>
		<div class="grid-x copy">
			<div class="cell auto">
				® Guia de Dentistas na Web • Todos os direitos reservados
			</div>
		</div>
	</div>
</footer>