<main class="grid-container full home">
	<div class="grid-x">
		<div class="cell auto">
			<div class="video">
				<div class="video-headline border-box">
					<h1>Encontre seu Dentista</h1>
					<span>Conheça profissionais qualificados e encontre um pertinho de você!</span>
				</div>
				<video id="video" autoplay muted loop>
				    <source src="/templates/gdw/images/1080p.mp4" type="video/mp4">
				    <source src="/templates/gdw/images/1080p.ogv" type="video/ogg">
				    <source src="/templates/gdw/images/1080p.webm" type="video/webm">
				</video>
			</div>
		</div>
	</div>
	<div class="main-search">
		<div class="grid-container border-radius border-box background-color">
			<div class="grid-x grid-margin-x grid-margin-y">
				<div class="cell small-12 medium-auto large-auto search-input">
					<span class="icon-search color"></span>
					<input type="text" name="search" class="border-radius" placeholder="Onde você procura um Dentista?">
				</div>
				<div class="cell small-12 medium-shrink large-shrink">
					<a href="#" class="button expanded red border-radius">Buscar</a>
				</div>
			</div>
		</div>
		<div class="grid-x" style="text-align: center; display: block;">
			<br>
			<a href="#" class="upper-case">Dentista, anuncie seu consultório</a>
		</div>
	</div>
</main>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Qual o seu tipo de necessidade?</h2>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y v-grid-images">
		<div class="cell small-12 medium-auto large-auto border-radius shadow-box">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></li>
				<li><div>Botox Odontológico</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius shadow-box">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/implante.jpg');"></div></li>
				<li><div>Implante</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius shadow-box">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/ortodontia.jpg');"></div></li>
				<li><div>Ortodontia</div></li>
			</ul>
		</div>
		<div class="cell small-12 medium-auto large-auto border-radius shadow-box">
			<ul>
				<li class="image"><div style="background-image: url('/templates/gdw/images/especialidades/clareamento.jpg');"></div></li>
				<li><div>Clareamento Dental</div></li>
			</ul>
		</div>
		<div class="cell select small-12 medium-auto large-auto border-radius shadow-box">
			<ul>
				<li class="image"><div><span class="icon-tooth"></span></div></li>
				<li><div>Ver tudo (+ 50)</div></li>
			</ul>
		</div>
	</div>
</section><br><br>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Dentistas que encontramos próximos de você</h2>
			<h3>Encontre clínicas de excelente qualidade pertinho da sua casa</h3>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y catalog-grid">
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>MARINE IMPLANTE CLINICA ODONTOLÓGICA</h2>
			<h3>TRABALHANDO PELO SEU SORRISO</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>CLINICA PROSIL</h2>
			<h3>ESPECIALISTA EM ESTETICA DENTAL</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>BRUSTLE</h2>
			<h3>CONSULTÓRIO ODONTOLÓGICO</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>DR WILFRED GEORGE CLÍNICA ODONTOLÓGICA</h2>
			<h3>ALÍVIO PARA A TUA DOR</h3>
		</div>
	</div><br>
	<div class="grid-x">
		<div class="cell auto">
		<a href="#" class="button hollow expanded border-radius">Ver todos <span class="icon-angle-right"></span></a>
		</div>
	</div>
</section><br><br>

<section class="grid-container">
	<div class="grid-x">
		<div class="cell auto">
			<h2>Dentistas em São Paulo</h2>
		</div>
	</div>
	<div class="grid-x grid-margin-x grid-margin-y catalog-grid">
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>MARINE IMPLANTE CLINICA ODONTOLÓGICA</h2>
			<h3>TRABALHANDO PELO SEU SORRISO</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>CLINICA PROSIL</h2>
			<h3>ESPECIALISTA EM ESTETICA DENTAL</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>BRUSTLE</h2>
			<h3>CONSULTÓRIO ODONTOLÓGICO</h3>
		</div>
		<div class="cell small-12 medium-6 large-auto border-radius" onclick="window.location.href='/anuncio/30/nome'">
			<div class="image border-radius"><div class="transition-all" style="background-image: url('/templates/gdw/images/especialidades/botox.jpg');"></div></div>
			<div class="distance color red"><span class="icon-map-marker"></span> 1.87 Km</div>
			<h2>DR WILFRED GEORGE CLÍNICA ODONTOLÓGICA</h2>
			<h3>ALÍVIO PARA A TUA DOR</h3>
		</div>
	</div><br>
	<div class="grid-x">
		<div class="cell auto">
		<a href="#" class="button hollow expanded border-radius">Ver todos <span class="icon-angle-right"></span></a>
		</div>
	</div>
</section><br><br>