<header class="grid-container full">
	<div class="grid-x">
		<div class="cell auto">
			<span class="icon-logo-h logo" onclick="window.location.href='/'"></span>
		</div>
		<div class="cell auto">
			<nav>
				<ul>
					<li><a href="#"><span>Busca avançada</span></a></li>
					<li><a href="#"><span>Como funciona</span></a></li>
					<li><a href="#"><span>Doutor, faça parte!</span></a></li>
					<li><a href="#"><span>Entrar</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<main class="grid-container full">
	<div class="main-search border-radius border-box">
		<div class="grid-x grid-margin-x">
			<div class="cell auto">
				<input type="text" name="search" class="border-radius" placeholder="Experimente “São Paulo”">
			</div>
			<div class="cell shrink">
				<a href="#" class="button">Buscar</a>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="cell auto">
			<div class="video">
				<div class="video-headline border-box">
					<h1>Encontre seu Dentista</h1>
					<span>Conheça profissionais qualificados e encontre um pertinho de você!</span>
				</div>
				<video id="video" autoplay muted loop>
				    <source src="/templates/gdw/images/1080p.mp4" type="video/mp4">
				    <source src="/templates/gdw/images/1080p.ogv" type="video/ogg">
				    <source src="/templates/gdw/images/1080p.webm" type="video/webm">
				</video>
			</div>
		</div>
	</div>
</main>