<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<h2>Quer saber porque confiar em nós?</h2>
					<h3>Esta Política de Privacidade destina-se a ajudar você a entender quais informações coletamos, por que as coletamos e como você pode atualizar, gerenciar, exportar e excluir essas informações.</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-eye bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color gray">
	<div class="grid-container content">
		<div class="grid-x">

			<div class="cell">
				<b>Preâmbulo</b><br /><br />
        
		        O <b>Guia de dentistas na Web</b> tem como premissa básica a manutenção da privacidade de todos os clientes e também de todos os que visitam o site. Todos os esforços são desenvolvidos para propiciar um ambiente agradável, de navegação simples e fortemente seguro.<br /><br />

				A Política de Privacidade do <b>Guia de dentistas na Web</b> também explica quais são os cuidados tomados para garantir a privacidade e segurança dos visitantes.<br /><br /><br />
		        
		        <b>Definição de visitantes</b><br /><br />
		        
		        São considerados visitantes todas as pessoas que acessam o site do <b>Guia de dentistas na Web</b>, sejam estes clientes ou não. Quando algum serviço ou seção do site for de uso exclusivo de clientes essa situação será explicada com a devida mensagem.<br /><br /><br />
		        
		        
		        <b>Informações sobre os visitantes</b><br /><br />
		        
		        Com o objetivo de prestar o melhor serviço possível, nosso site poderá fazer uso de recursos técnicos, atualmente conhecidos como cookies*, com o objetivo de obter informações pertinentes aos visitantes tais como data da última visita ao site, tipo de computador e/ou navegador etc. Essas informações são necessárias para permitir a personalização da navegação e melhor adequação das páginas do site ao perfil do visitante.<br /><br />

		        O fornecimento destas informações não é obrigatório e, para tanto, o usuário pode configurar seu navegador para não fornecê-las, porém isso poderá afetar a utilização de algumas funcionalidades do site.<br /><br />
		        
		        Durante a navegação na área do site restrita a clientes poderá ser utilizada e gravada a identificação de IP** a fim de garantir a segurança e autenticidade das transações.<br /><br />
		        
		        Quando houver algum tipo de captura de informação diferente das citadas acima, as mesmas serão obtidas através do preenchimento de formulários apropriados, conforme descrito no tópico "Cadastramento de informações" deste documento.<br /><br />
		        
		        *Cookie - pequeno arquivo que possibilita a coleta de algumas informações sobre a navegação do usuário. Não são coletadas e tão pouco gravadas informações pessoais com este recurso.<br /><br />
		        
		        **IP (Internet Protocol) - endereço eletrônico numérico atribuído pelo provedor de acesso ao usuário, permitindo a identificação do mesmo em horário e data determinado.<br /><br /><br />
		        

		        <b>Cadastramento de informações</b><br /><br />
		        
		        Para melhor prestação de serviços, os visitantes poderão ser pedidos a cadastrar seus dados em bases de dados específicas. O <b>Guia de dentistas na Web</b> pratica o melhor relacionamento com sua comunidade de visitantes praticando o Marketing de Permissão, e dessa forma, disponibilizará páginas em que o visitante cadastrado terá a liberdade de incluir, alterar ou excluir seus dados pessoais cadastrados nessas bases de dados.<br /><br />

				Nenhum compromisso de qualquer natureza será devido pelos visitantes, quando do cadastramento, exceto nas situações em que isso for explicitamente avisado.<br /><br /><br />
		        
		        
		        <b>Do uso das informações</b><br /><br />
		        
		        As informações pessoais fornecidas poderão ser utilizadas para fins de envios de correspondências com ofertas de produtos e serviços do <b>Guia de dentistas na Web</b> ou parceiros.<br /><br /><br />
		        
		        
		        <b>Da responsabilidade das informações disponibilizadas no site</b><br /><br />
		        
		        O <b>Guia de dentistas na Web</b> utiliza todo o empenho possível para a manutenção da exatidão das informações divulgadas em seu site. E também se isenta da responsabilidade por erros ou omissões nestas informações e materiais, e não se responsabiliza por inadequação do uso destas para objetivos particulares de seus visitantes, bem como por possíveis lucros cessantes decorrentes do uso dessas informações.<br /><br />

				O <b>Guia de dentistas na Web</b> se dá o direito de alterar qualquer informação em seu site sem prévio aviso a seus usuários, assim como manter o site inativo pelo período que julgar necessário.<br /><br /><br />


				<b>Direito de uso de imagens e textos</b><br /><br />
		        
		        Os documentos e informações contidos no site do <b>Guia de dentistas na Web</b> constituem materiais de autoria da próprio <b>Guia de dentistas na Web</b> ou de terceiros, utilizados com a devida autorização destes, protegidos por direitos autorais. Nenhuma informação deste site poderá ser utilizada sem autorização por escrito do autor ou detentor do direito sobre as mesmas, exceto quando para uso particular. Não será admitida a reprodução total ou parcial das informações do <b>Guia de dentistas na Web</b>, constituindo-se crime a utilização indevida dos mesmos.<br /><br /><br />
		        
		        
		        <b>Ambiente seguro</b><br /><br />
		        
		        O <b>Guia de dentistas na Web</b> desempenha todos os esforços para proporcionar aos visitantes o melhor ambiente técnico para sua navegação, incluindo aspectos de segurança. Para tanto, toda vez que for solicitada alguma informação aos usuários, isso será feito em ambiente seguro, ou seja, com recursos de criptografia, evitando que pessoas alheias ao processo possam identificar e se utilizar dessas informações. Serão aplicados diferentes níveis de segurança, de acordo com o tipo de serviço prestado, mas, em qualquer situação, todos os dados estarão devidamente seguros.<br /><br /><br />
		        
		        
		        <b>Submissões</b><br /><br />
		        
		        Todas as informações que um visitante venha a fornecer ao <b>Guia de dentistas na Web</b> através deste site serão consideradas de propriedade do <b>Guia de dentistas na Web</b>, que terá a liberdade de uso para qualquer propósito, quaisquer idéias, conceitos, tecnologia ou técnicas contidas nas referidas informações. O <b>Guia de dentistas na Web</b> não estará sujeitao a quaisquer obrigações de confidencialidade com relação a informações submetidas, exceto quando expressamente acordado ou exigido por lei.<br /><br /><br />
		        
		        <b>Limite de Responsabilidade</b><br /><br />
		        
		        Em nenhuma circunstância, o <b>Guia de dentistas na Web</b> será responsável por quaisquer danos, inclusive e sem limitação, danos diretos e indiretos, especiais, incidentais ou de conseqüência, perdas ou despesas oriundos da conexão com este site ou uso do mesmo ou incapacidade de uso por qualquer parte, ou com relação a qualquer falha de desempenho, erro , omissão, interrupção, defeito, demora na operação ou transmissão, vírus de computador ou falha da linha ou do sistema, mesmo se o <b>Guia de dentistas na Web</b>, ou seus representantes, estejam avisados da possibilidade de tais danos, perdas ou despesas. O conteúdo, precisão, opiniões expressas, e outros links fornecidos por estes recursos não são investigados, verificados, monitorados, ou endossados pelo <b>Guia de dentistas na Web</b>.
			</div>

		</div>
	</div>
</section>