<main class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-9 medium-auto large-auto">
			<ul class="table main-title">
				<li>
					<h2>Quer saber quem somos?</h2>
					<h3>O Guia de dentistas na web tem como objetivo, ligar, de forma prática, você paciente ao profissional qualificado que você procura.</h3>
				</li>
			</ul>
		</div>
		<div class="cell small-3 medium-auto large-auto">
			<ul class="table">
				<li>
					<span class="icon-simbolo bg-main-icon"></span>
				</li>
			</ul>
		</div>
	</div>
</main><br>

<section class="grid-container full background-color darkred">
	<div class="grid-container content">
		<div class="grid-x grid-margin-x grid-margin-y">

			<div class="cell">
				<div class="grid-x">
					<div class="cell small-12 medium-6 large-3 icon">
						<ul class="table">
							<li><span class="icon-logo-h"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-6 large-3 icon">
						<ul class="table">
							<li><span class="icon-logo-h"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-6 large-3 icon">
						<ul class="table">
							<li><span class="icon-logo-h"></span></li>
						</ul>
					</div>
					<div class="cell small-12 medium-6 large-3 icon">
						<ul class="table">
							<li><span class="icon-logo-h"></span></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cell">
				<p>O Guia de dentistas na Web é uma ferramenta de pesquisa que ajuda pacientes na procura por profissionais da odontologia.</p>

				<p>Este portal é administrado pela empresa Alpha Mkt. Digital Ltda., a qual iniciou suas atividades na área odontológica em dezembro de 1999 na capital de São Paulo, com o nome de Odonto Atual Comércio de Livros Ltda, distribuindo literatura técnica odontológica para todo o Brasil.<br>Continuamos ainda atuando na distribuição de livros técnicos com nossa outra empresa a Doctor Livros Comercial Ltda.</p>

				<p>Esta plataforma foi pensada e criada para ajudar pacientes que procuram por profissionais da odontologia e também auxiliar os profissionais da odontologia a ganhar mais visibilidade entre os internautas que buscam por seus serviços, assim, aproximando o paciente do profissional, de uma forma prática e eficaz.</p> 

				<p>Trabalhamos com tecnologia de ponta no marketing digital a fim de promover e otimizar esta plataforma para fortalecer a ligação entre paciente e profissional, prezando por informações e serviços de qualidade.</p>
			</div>

		</div>
	</div>
</section>